<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FinCity Consultancy Services Limited</title>
</head>
<body>
Welcome to student home page
<h2 th:text="${name}"></h2>
<h1 th:text="${course}"></h1>
<h1 th:text="${language}"></h1>
<h1 th:text="${subject}"></h1>
<h1 th:text="${id}"></h1>
<h1 th:text="${numbers.get(0)}"></h1>
<h2 th:text="${'This is ' + name + ' course'}"></h2>
<h2 th:text="${student.getId()}"></h2>
<h2 th:text="${student.getFirstName()}"></h2>
<h2 th:text="${student.lastName}"></h2>

<a th:href="@{https://www.google.com}">Google</a>
<a th:href="@{/student/register}">Register page</a>
<a th:href="@{/student/welcome(id=53)}">Link 1</a>
<a th:href="@{/student/welcome(id=${student.id})}">Link 2</a>



</body>
</html>