<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>My CRM Application</title>
    <!---->
</head>


<body>

Welcome to FinCity Home Page...

<h1>FinCity</h1>
<h2>FinCity</h2>
<h3>FinCity</h3>

<h1 align="center" style="color: blue">Hello</h1>

<ul>
    <li>London</li>
    <li>Sutton</li>
    <li>Reading</li>
</ul>

<a href="https://www.google.com">Google</a>

<table>
    <tr>
        <td>London</td>
        <td>Sutton</td>
        <td>Reading</td>
    </tr>

    <tr>
        <td>Manchester</td>
        <td>Liverpool</td>
        <td>Birmingham</td>
    </tr>

</table>

<!--Forms-->
<label>User Name:</label>
<input type="text" name="username"><br>
<label>Password:</label>
<input type="password"><br>
<label>Enter your comments:</label>
<textarea name="comments"></textarea><br>

<label>Please select your fav subject:</label><br>
<input type="radio" name="Spring" value="IoC" checked="checked">IoC
<input type="radio" name="Spring" value="DI">DI
<input type="radio" name="Spring" value="MVC">MVC
<br>

<label>Please select your company:</label><br>
<input type="checkbox" name="company" value="Bank of America">BOA
<input type="checkbox" name="company" value="SouthWest Airlines">SWE
<input type="checkbox" name="company" value="Limited">LTD
<br>

<label>Select your car:</label>
<select name="cars">
    <option value="honda">Honda</option>
    <option value="nissan">Nissan</option>
    <option value="bmw">BMW</option>
</select>

<form action="#" method="get">
    First name:<input type="text" name="first_name"/>
    <br>
    Last name: <input type="text" name="last_name"/>
</form>

<div>
    <h3>This is Java Developer Course</h3>
    <ul>
        <li>Spring Framework</li>
        <li>Security</li>
        <li>Unit Testing</li>
    </ul>
</div>


</body>


</html>